.Spe .ant-table table {
    width: 100%;
    font-size: 30px;
    text-align: left;
    border-radius: 6px 6px 0 0;
    border-collapse: separate;
    border-spacing: 0;
}
.Spe .gx-table-no-bordered .ant-table-thead > tr > th{
    font-size: 22px;
}
   